USE [master]
GO
/****** Object:  Database [Shazam]    Script Date: 18/04/2019 23:16:32 ******/
CREATE DATABASE [Shazam]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Shazam', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Shazam.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Shazam_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Shazam_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Shazam].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Shazam]
GO
/****** Object:  Table [dbo].[Songs]    Script Date: 18/04/2019 23:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Songs](
	[SongId] [int] IDENTITY(1,1) NOT NULL,
	[SongListNumber] [int] NOT NULL,
	[SongImage] [nvarchar](100) NOT NULL,
	[SongTitle] [nvarchar](50) NOT NULL,
	[SongSubtitle] [nvarchar](50) NOT NULL,
	[SongLink] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Songs] PRIMARY KEY CLUSTERED 
(
	[SongId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
